@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
:root {
  --color-1: #131a27;
  --color-1-hover: #1d273a;
  --color-2: #2666cf;
  --color-2-hover: #1e57b3;
  --font-size-1: 2rem;
  --text-color-1: #fff;
  --text-color-1-active: #f5f2e7;
  --padding-1: 3rem;
  --transition-1: all 0.1s;
}

html {
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--color-2-hover);
}

::selection {
  background-color: var(--color-2-hover);
}

body {
  overflow: hidden;
  padding: 3rem 1rem;
  background: #1e57b3;
  background: -webkit-gradient(linear, left top, right top, color-stop(27%, #1e57b3), to(#618abb));
  background: linear-gradient(90deg, #1e57b3 27%, #618abb 100%);
}

@media screen and (min-width: 500px) {
  body {
    padding: 5rem 2rem;
  }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.app {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.calculator {
  width: 100%;
  max-width: 55rem;
  background-color: var(--color-1);
  border-radius: 0.5rem;
}

.calculator .textarea {
  font-size: 2.5rem;
  color: var(--text-color-1);
  padding: 4rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.calculator .textarea span {
  font-size: var(--font-size-1);
  color: #f5f2e7;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: end;
}

.calculator .operators {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  font-size: var(--font-size-1);
}

@media screen and (min-width: 500px) {
  .calculator .operators {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

.calculator .operators button {
  font-size: inherit;
  padding: var(--padding-1);
  background-color: var(--color-2);
  color: var(--text-color-1);
  -webkit-transition: var(--transition-1);
  transition: var(--transition-1);
}

@media screen and (min-width: 500px) {
  .calculator .operators button:hover {
    background-color: var(--color-2-hover);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    border-radius: 3px;
  }
  .calculator .operators button:active {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: var(--text-color-1-active);
  }
}

.calculator .numbers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  font-size: var(--font-size-1);
  color: var(--text-color-1);
}

.calculator .numbers button {
  color: inherit;
  font-size: inherit;
  padding: var(--padding-1);
  background-color: transparent;
  -webkit-transition: var(--transition-1);
  transition: var(--transition-1);
}

@media screen and (min-width: 500px) {
  .calculator .numbers button:hover {
    background-color: var(--color-1-hover);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    border-radius: 3px;
  }
  .calculator .numbers button:active {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: var(--text-color-1-active);
  }
}

.note {
  font-family: 'Redressed', cursive;
  font-size: calc(var(--font-size-1) - 0.25rem);
  color: var(--text-color-1-active);
}

@media screen and (min-width: 500px) {
  .note {
    font-size: var(--font-size-1);
  }
}

.note span {
  text-decoration: underline;
  -webkit-transition: word-spacing 0.1s;
  transition: word-spacing 0.1s;
}

@media screen and (min-width: 500px) {
  .note span:hover {
    word-spacing: 0.1rem;
  }
}
/*# sourceMappingURL=app.module.css.map */