@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

:root {
  --color-1: #131a27;
  --color-1-hover: #1d273a;
  --color-2: #2666cf;
  --color-2-hover: #1e57b3;
  --font-size-1: 2rem;
  --text-color-1: #fff;
  --text-color-1-active: #f5f2e7;
  --padding-1: 3rem;
  --transition-1: all 0.1s;
}

$media-value-1: 500px;

@mixin button-hover {
  transform: scale(1.05);
  border-radius: 3px;
}

@mixin button-active {
  transform: scale(1);
  color: var(--text-color-1-active);
}

html {
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--color-2-hover);
}

body {
  overflow: hidden;
  padding: 3rem 1rem;
  background: rgb(30, 87, 179);
  background: linear-gradient(
    90deg,
    rgba(30, 87, 179, 1) 27%,
    rgba(97, 138, 187, 1) 100%
  );

  @media screen and (min-width: $media-value-1) {
    padding: 5rem 2rem;
  }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.calculator {
  width: 100%;
  max-width: 55rem;
  background-color: var(--color-1);
  border-radius: 0.5rem;

  .textarea {
    font-size: 2.5rem;
    color: var(--text-color-1);
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
      font-size: var(--font-size-1);
      color: #f5f2e7;
      align-self: flex-end;
      flex: 1;
      text-align: end;
    }
  }

  .operators {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: var(--font-size-1);

    @media screen and (min-width: $media-value-1) {
      grid-template-columns: repeat(6, 1fr);
    }

    button {
      font-size: inherit;
      padding: var(--padding-1);
      background-color: var(--color-2);
      color: var(--text-color-1);
      transition: var(--transition-1);

      @media screen and (min-width: $media-value-1) {
        &:hover {
          background-color: var(--color-2-hover);
          @include button-hover();
        }

        &:active {
          @include button-active();
        }
      }
    }
  }

  .numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: var(--font-size-1);
    color: var(--text-color-1);

    button {
      color: inherit;
      font-size: inherit;
      padding: var(--padding-1);
      background-color: transparent;
      transition: var(--transition-1);

      @media screen and (min-width: $media-value-1) {
        &:hover {
          background-color: var(--color-1-hover);
          @include button-hover();
        }

        &:active {
          @include button-active();
        }
      }
    }
  }
}

.note {
  font-family: 'Redressed', cursive;
  font-size: calc(var(--font-size-1) - 0.25rem);
  color: var(--text-color-1-active);

  @media screen and (min-width: $media-value-1) {
    font-size: var(--font-size-1);
  }

  span {
    text-decoration: underline;
    transition: word-spacing 0.1s;

    @media screen and (min-width: $media-value-1) {
      &:hover {
        word-spacing: 0.1rem;
      }
    }
  }
}
