.author {
  font-family: 'Redressed', cursive;
  font-size: calc(var(--font-size-1) - 0.25rem);
  color: var(--text-color-1-active);

  @media screen and (min-width: $media-value-1) {
    font-size: var(--font-size-1);
  }

  span {
    text-decoration: underline;
    transition: word-spacing 0.1s;

    @media screen and (min-width: $media-value-1) {
      &:hover {
        word-spacing: 0.1rem;
      }
    }
  }
}
