:root {
  --color-1: #131a27;
  --color-1-hover: #1d273a;
  --color-2: #2666cf;
  --color-2-hover: #1e57b3;
  --color-danger: #dc3545;
  --font-size-1: 2rem;
  --text-color-1: #fff;
  --text-color-1-active: #f5f2e7;
  --padding-1: 3rem;
  --transition-1: all 0.1s;
}

$media-value-1: 500px;
